* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./img/background/background-body.png);
  background-size: cover;
  font-family: "LuckiestGuy", Arial, Helvetica, sans-serif;
  font-size: clamp(12px, 3vw, 24px);
  color: rgb(53, 214, 42);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.game-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  max-height: 540px;
}

.game-content {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: transparent;
}

.control-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.fullscreen-btn {
  cursor: pointer;
  width: clamp(16px, 3vw, 32px);
  height: auto;
  position: absolute;
  top: clamp(12px, 3vw, 24px);
  left: clamp(12px, 3vw, 24px);
  z-index: 3;
}

.sound-btn {
  cursor: pointer;
  width: clamp(16px, 3vw, 32px);
  height: auto;
  position: absolute;
  top: clamp(12px, 3vw, 24px);
  right: clamp(12px, 3vw, 24px);
  z-index: 9;
}

.option-btn {
  padding: 4px;
  background-color: rgb(55, 56, 125);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px rgb(55, 56, 125);
}

.control-movement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 0px 0px 8px 8px rgb(55, 56, 125);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.control.center {
  pointer-events: none;
  box-shadow: none;
}

.control-attack {
  position: absolute;
  bottom: clamp(16px, 3vw, 36px);
  right: clamp(16px, 5vw, 36px);
  width: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

canvas,
.dialog-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

canvas {
  background-color: black;
  box-shadow: 0px 0px 12px 3px rgb(55, 56, 125);
  display: block;
}

.dialog-screen {
  background-image: url(./img/menuscreen/background.png);
  background-size: cover;
  padding-block: clamp(8px, 2vw, 36px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.dialog-screen h1 {
  margin: 0;
  font-size: clamp(20px, 8vw, 80px);
}

.menu {
  margin-top: clamp(10px, 3vw, 20px);
  display: flex;
  align-items: center;
  gap: clamp(40px, 6vw, 120px);
}

.menu__button {
  cursor: pointer;
  width: clamp(100px, 21vw, 170px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__button img {
  width: clamp(24px, 7vw, 80px);
  height: auto;
}

.start__button {
  cursor: pointer;
  font-size: clamp(16px, 6vw, 56px);
  color: rgb(222, 29, 168);
  display: flex;
  align-items: end;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px 2px 2px rgba(0, 0, 0, 0.5),
    2px -2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(0, 0, 0, 0.5);
}

.character {
  width: 25%;
  height: auto;
  position: absolute;
  bottom: 15%;
  left: calc(5% + 65% * (var(--loaded-images-percentage, 0)));
}

.dialog {
  position: relative;
  width: 95%;
  height: auto;
  overflow: hidden;
  overflow-y: scroll;
  padding: 24px;
  color: black;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 18px;
}

.dialog p {
  font-family: "Josefin Sans";
  font-size: clamp(8px, 2vw, 16px);
  margin-block: 10px;
}

.help-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.help-description img {
  width: 15%;
  height: auto;
}

.controls-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

table {
  width: 50%;
  border-collapse: collapse;
}

tr {
  border-top: 1px solid black;
}

tr:first-child {
  border: none;
}

td {
  font-size: clamp(10px, 3vw, 20px);
  padding: clamp(0px, 0.5vw, 8px);
  width: 25%;
  text-align: center;
}

td:first-child {
  width: 50%;
  font-family: "Josefin Sans";
  font-size: clamp(8px, 2vw, 16px);
  text-align: start;
  font-weight: 700;
}

.legal-notice {
  cursor: pointer;
  font-size: clamp(8px, 2vw, 16px);
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: clamp(10px, 3vw, 28px);
  right: clamp(27px, 7vw, 80px);
}

.red {
  color: rgb(222, 29, 168);
}

.win-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win-img {
  height: clamp(56px, 8vw, 100px);
  width: auto;
}

.win-big-image {
  width: clamp(100px, 20vw, 250px);
  height: auto;
}

.menu-game-over {
  width: 90%;
  height: 70%;
  margin-top: clamp(15px, 3vw, 30px);
  display: flex;
  justify-content: space-between;
}

.game-over-big-image {
  margin-top: clamp(8px, 2vw, 24px);
  width: clamp(110px, 25vw, 260px);
  height: auto;
}

.blue-box {
  background-color: rgba(47, 39, 113, 0.9);
  border-radius: 8px;
  box-shadow: 0px 0px 12px 3px rgb(47, 39, 113);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.high-score {
  width: 45%;
  height: 100%;
  padding: clamp(18px, 4vw, 36px);
  font-size: clamp(18px, 3vw, 36px);
}

.result {
  width: 100%;
  color: rgb(53, 214, 42);
  margin-bottom: clamp(18px, 4vw, 36px);
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.result-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-area img {
  width: clamp(24px, 7vw, 80px);
  height: auto;
}

.high-score-number {
  font-size: clamp(16px, 6vw, 56px);
  color: rgb(53, 214, 42);
}

.leaderboard{  
  width: 45%;
  height: 100%;
  padding: clamp(12px, 2vw, 24px);
  font-size: clamp(18px, 3vw, 36px);
}

.leaderboard-table {  
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  margin-top: 8px;
  flex-grow: 1;
  color: white;
  border-collapse: collapse;
  display: flex;
  align-items: start;
  justify-content: center;
}

.leaderboard-table table{
  width: 95%;  
  font-family: "Josefin Sans";  
  font-size: clamp(10px, 3vw, 20px);
}

.leaderboard-table tr {
  border-top: 2px solid rgb(53, 214, 42);
}

.leaderboard-table tr:first-child {
  border: none;
}

.leaderboard-table td {
  font-size: clamp(8px, 2vw, 20px);
  font-weight: 200;
  padding: clamp(0px, 0.5vw, 8px);
  width: 25%;
  text-align: start;
}

.leaderboard-table td:nth-child(2) {
  width: 50%;
}

.leaderboard-table td:nth-child(3) {
  text-align: end;
}

.left-game-over {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.save-score {
  width: 100%;
  margin-top: clamp(8px, 2vw, 24px);
  display: flex;
  align-items: center;
  gap: clamp(8px, 1vw, 16px);
}

.save-score input {
  cursor: pointer;
  flex-grow: 1;
  margin: 1px;
  padding: 8px;
  color: white;
  background-color: rgb(47, 39, 113);
  border: 1px solid rgb(53, 214, 42);
  border-radius: clamp(4px, 1vw, 8px);
  box-shadow: 0px 0px 4px 2px rgb(47, 39, 113) inset;
}

.save-score input:focus {
  outline: none;
  margin: 0px;
  background-color: rgb(47, 39, 113);
  border: 2px solid rgb(53, 214, 42);
}

.save-score button {
  cursor: pointer;
  width: clamp(16px, 2vw, 24px);
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.save-score img {
  width: 100%;
}

.add-to-board {
  width: 100%;
  padding: clamp(18px, 3vw, 36px);
  font-size: clamp(18px, 3vw, 36px);
}

.gameover-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.rotate-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  font-size: 24px;
}

.d-none {
  display: none;
}

@media screen and (max-height: 540px) {
  .game-container {
    max-height: 100vh;
    max-width: calc(100vh * (16 / 9));
  }
}

@media (min-width: 1024px) {
  .control-btn {
    display: none;
  }
}
